@import url('https://fonts.googleapis.com/css?family=Indie+Flower&display=swap');
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}
.navbar-brand h1{
  font-family: 'Indie Flower', cursive;
 
}
.top-navbar {
  background-color: #e44dbe;
  height: 35px;
  margin-bottom: 0px;
}

.top-navbar .container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.top-navbar .top-left {
  padding: 3px 0;
}

.top-navbar .top-left ul {
  display: inline-block;
  padding-right: 40px;
  color: white;
  position: relative;
  font-size: 13px;
}

.top-navbar .top-left ul li {
  padding-right: 40px;
  display: inline-block;
  color: white;
  position: relative;
  font-size: 13px;
}

.top-navbar .top-right {
  text-align: right;
}

.top-navbar .social-links {
  padding-top: 7px;
}

.top-navbar .social-links ul {
  list-style: none;
  display: inline-block;
}

.top-navbar .social-links ul li {
  display: inline-block;
  color: white;
}

.top-navbar .social-links ul li a {
  color: white;
}

.top-navbar .social-links ul li i {
  width: 30px;
  height: 20px;
}

.fixed-top {
  position: fixed;
  top: 0px;
  left: 0;
}

.navbar.solid,
.navbar.solid-toggle {
  background: rgb(160, 201, 223) !important;
  -webkit-transition: background-color 1s ease;
  transition: background-color 1s ease;
  height: 9vh;
}



/* .overlay {
  position: absolute;
  min-height: 100%;
  min-width: 100%;
  left: 0;
  top: 0;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.1), #cfeeea);
} */

.navbar ul li a {
  color: rgb(116, 110, 110);
  font-size: 1.5rem;
  margin: 10px;
  -webkit-transition: all .3s eas;
  transition: all .3s eas;
}

.navbar ul li a:hover {
  color: blue;
  -webkit-transition: .3s;
  transition: .3s;
}

.navbar ul li a i {
  padding: 10px 10px;
  border-radius: 50px;
  font-size: 1.5rem;
  color: #f065f0;
  background-color: #fff;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.navbar ul li a i:hover {
  background-color: #fff;
  color: blue;
}

.container-fluid {
  padding-left: 0px;
  padding-right: 0px;
  overflow: hidden;
}



.images {
  margin-top: -180px;
  margin-left: 35%;
}

.hero {
  margin-top: 100px;
  margin-bottom: 80px;
}

.hero .hero-desc .img1 {
  margin-left: 200px;
}

.hero .hero-desc h1 {
  margin-bottom: 20px;
  color: #ac9a9a;
}

section{
  overflow-x: hidden;
}
section h1{
  text-transform: uppercase;
  text-align: center !important;
  font-size: 25px !important;
}
section p{
  text-align: left;
  border-left: 7px solid #f3b2e8;
  padding: 10px;
  line-height: 1.5rem;
  letter-spacing: .1rem;
}

#feature-1{
  padding: 10px;

}

#feature-2{
  padding: 5px;
}
.slide__caption {
  bottom: 0;
  min-height: 80px;
  left: 0;
  position: absolute;
  width: 100%;
  z-index: 2;
}


#feature-3{
  /* background-color: #CCCCBC; */
  /* background-color: #52B0F5; */
  padding: 5px;
}
#footer{
  margin-top: 100px;
  padding: 10px;
  padding-bottom: 40px;
  /* background-color: rgb(88, 88, 88); */
  background-color: #52B0F5;

}
#footer h1{
  color: white;
  letter-spacing: .1rem;
}
.image-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#footer-copy{
  background-color: rgb(243, 232, 232);
  text-align: center;
  padding: 10px;
}



.carousel-item {
  height: 100vh;
  min-height: 350px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.carousel-caption{
    display: absolute;
    top: 43%;
    color: black;
}

.carousel-indicators li{
  border-radius: 50%;
  width: 12px;
  height: 12px;
  background-color: red;
}

.carousel-inner .carousel-item {
  transition: -webkit-transform 2s ease;
  transition: transform 2s ease;
  transition: transform 2s ease, -webkit-transform 2s ease;
}

.ml-5{
  text-align:center;
  color: white;

}
/*# sourceMappingURL=main.css.map */